
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="container" sstyle="background-color:rgba(211, 15, 15, 0.78)">
    <h2>Bem vindo @Session["usuarioLogado"]</h2>
</body>
