@model TemplateSevenSource3.Dominio.Marca

@{
    ViewBag.Title = "Detalhes";
}
<body class="container">
    <h2>Detalhes</h2>

    <div>
        <h4>Marca</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Editar", new { id = Model.Id }) |
        @Html.ActionLink("Voltar a Lista", "Index")
    </p>
</body>