@{
    ViewBag.Title = "Erro";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <hgroup>
        <h1 class="has-error  text-center" style="color:rgb(255, 0, 0)">Erro.</h1>
        <h2 class="has-error text-center" style="color:rgb(255, 0, 0)">Página não encontrada</h2>
    </hgroup>
</body>
</html>
